.carousel-container {
	width: 800px;
	margin: 20px auto;
	height: 300px;
	position: relative;
}

.carousel-container .carousel-inner {
	overflow: hidden;
}

.carousel-container .track {
	display: inline-flex;
	height: 300px;
	transition: transform 0.5s;
}

.carousel-container .card-container {
	width: 200px;
	flex-shrink: 0;
	height: 200px;
	padding-right: 15px;
	box-sizing: border-box;
}

.carousel-container .card-container .card {
	width: 100%;
	height: 100%;
	background: green;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

.card-container {
	width: 70%;
}

.card {
	padding: 10px;
	height: 200px;
}

.imgSlide img {
	width: 100%;
	margin: 10px;
}

.slide-nav button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #000;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	cursor: pointer;
	background-color: #fff;
}

.slide-nav .previous {
	left: -30px;
	display: none;
}

.slide-nav .previous.show {
	display: block;
}

.slide-nav .next {
	right: -30px;
}

.slide-nav .hide {
	display: none;
}

.card .info-price h4 {
	font-size: 1rem;
	text-transform: uppercase;
}

.card .info-price h5 {
	font-size: 0.9rem;
}

.card > * {
	flex: 1;
}

.card .slideImg {
	width: 180px;
	height: 200px;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.card .info-price {
	width: 180px;
	height: 100px;
	flex-basis: 40px;
	flex-grow: 0;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	color: #000;
}

.card .info-price h5 a {
	color: rgb(20, 20, 19);
	font-size: 1rem;
	background-color: #e1ad01;
	max-width: 50px;
	padding: 2px 5px;
	border-radius: 5px;
}

.slideImg img {
	border-radius: 15px;
	border: 2px solid white;
}

.slide-nav .fas {
	font-size: 1.6rem;
	color: black;
}

.error {
	border: 1px solid rgb(37, 240, 213);
	padding: 1rem;
	color: rgb(236, 37, 37);
	background: rgba(255, 0, 0, 0.1);
}

@media screen and (max-width: 320px) {
	.carousel-container {
		width: 80%;
	}
	.card-container {
		width: 100%;
	}

	.card .info-price h4 {
		font-size: 0.8rem;
	}

	.card .info-price {
		width: 150px;
		height: 50px;
		color: #000;
	}
}

@media screen and (max-width: 768px) {
	.carousel-container {
		width: 80%;
	}
}

@media screen and (max-width: 1024px) {
	.carousel-container {
		width: 85%;
	}
}
