* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 1100px;
    margin: auto;
}

a {
    color: #0a3641;
    text-decoration: none;
}

ul {
    list-style: none;
}


/*linkspage*/

.product-links {
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product-links:hover {
    opacity: 0.4;
}


/*............Main-content New Arrivals....................*/

.new-title {
    display: inline-flex;
    float: right;
    max-width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 30px;
    color: #0a3641;
    z-index: -1;
}

.new-title2 {
    display: inline-flex;
    float: right;
    max-width: 100%;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 4px 4px 0 0;
    margin-top: 40px;
    padding-right: 10px;
    color: #000;
    background-color: #f3f1d7;
    z-index: -1;
}

.new-subtitle,
.new-subtitle-2 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px;
    color: #000;
}

.new-subtitle {
    text-align: left;
    border-radius: 5px 5px 0px 0px;
    margin: 30px 0 0 30px;
    background-color: #e1ad01;
    z-index: 1;
}

.new-subtitle-2 {
    text-align: right;
    margin-top: 30px;
    z-index: 2;
}

.main-content-1,
.main-content-2 {
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #e5e9ea;
    padding: 70px 30px 50px 30px;
    border-top: 2px solid #e1ad01;
}

.main-content p {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    max-width: 100%;
}

.main-content-1 img {
    max-width: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: var(--shadow);
}

.main-content-2 img {
    max-width: 70%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: var(--shadow);
}

.best-seller {
    margin-bottom: 40px;
}


/*.....Add to Cart Button..*/

.main-content a {
    display: inline-block;
    background-color: #074943;
    max-width: 60%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2rem;
    padding: 5px 8px;
    border-radius: 5px;
    text-align: left;
}

.main-content a:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}


/* New Arrival Button */

.btn-new {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #909090;
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-family: Georgia, serif;
    font-weight: bold;
    color: #000;
    background-color: #e1ad01;
    text-align: center;
    padding: 5px 10px;
    margin-top: 50px;
}

.btn-new:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}


/* Button for men, for women */

.btn-text {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.btn-text:hover {
    cursor: pointer;
    color: #025951;
}


/*............Bar Menu....................*/

.barmenu {
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 0;
}

.barmenu-inner {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}

.barmenu li {
    line-height: 1.5rem;
}

.barmenu a {
    color: #fff;
}

.barmenu a:hover {
    color: #e1ad01;
}

.barmenu .current {
    text-decoration: underline;
    color: #e1ad01;
}


/*............Footer....................*/

.footer {
    background-color: #e5e9ea;
    color: #000;
    font-size: 1.2rem;
    padding: 35px 0 0 0;
}

.footer-inner {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
}

.footer li {
    line-height: 2rem;
}

.footer a {
    color: #025951;
}

.footer-copyright {
    width: 100%;
    background-color: #0a3641;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 35px;
    align-items: left;
    justify-content: center;
    color: #fff;
}


/* span on cart items*/

ul span {
    position: relative;
    bottom: 17px;
    float: right;
    color: #e9802a;
}

.women-jackets,
.men-jackets {
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #e5e9ea;
    padding: 70px 50px 50px 50px;
    border-top: 2px solid #e1ad01;
    position: relative;
}

.main-content img {
    max-width: 100%;
    border-radius: 4px;
    border: solid 1px #000;
}


/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
    .barmenu,
    .footer {
        font-size: 1rem;
        padding-top: 25px;
    }
    .barmenu {
        padding: 25px 0;
    }
    .main-content {
        grid-template-columns: repeat (2, 1fr);
    }
    .main-content a {
        left: 50px;
        font-size: 1rem;
        max-width: 70%;
    }
}


/* Media Queries for  ## Screen = max-width 500px  and Mobile site at screen device 375px*/

@media (max-width: 500px) {
    .women-jackets,
    .men-jackets {
        max-width: 100%;
        display: grid;
        margin: 0 auto;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        background-color: #e5e9ea;
        padding: 50px 20px 50px 30px;
        border-top: 2px solid #e1ad01;
        position: relative;
        padding-bottom: 20px;
    }
    .main-content-2 {
        max-width: 100%;
        display: grid;
        margin: 0 auto;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        background-color: #e5e9ea;
        padding: 50px 20px 50px 30px;
        border-top: 2px solid #e1ad01;
        position: relative;
        padding-bottom: 20px;
    }
    .main-content a {
        left: 10px;
        font-size: 0.8rem;
        max-width: 60%;
    }
    .main-content p {
        font-size: 1rem;
        text-align: left;
        max-width: 100%;
    }
    .main-content img {
        max-width: 80%;
        justify-content: space-between;
    }
    .main-content-2 img {
        max-width: 70%;
        justify-content: space-between;
    }
    .barmenu-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer {
        font-size: 0.8rem;
    }
}


/* Media Queries for  Mobile screen device 414px*/

@media (max-width: 414px) {
    .main-content {
        padding: 0;
    }
    .new-subtitle,
    .new-subtitle-2 {
        font-size: 0.9rem;
        margin: 30px 0 0 0;
    }
    .new-title {
        display: none;
    }
    .new-subtitle h2 {
        font-size: 0.9rem;
    }
    .main-content p {
        font-size: 0.8rem;
        max-width: 100%;
    }
    .women-jackets,
    .men-jackets {
        max-width: 100%;
        display: grid;
        margin: 0 auto;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        background-color: #e5e9ea;
        padding: 50px 20px 50px 30px;
        border-top: 2px solid #e1ad01;
        position: relative;
        padding-bottom: 10px;
    }
    .main-content img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .main-content-2 img {
        max-width: 80%;
    }
}

@media (max-width: 375px) {
    .main-content {
        padding: 0;
    }
    .main-content-2 h3 {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    .main-content h3 {
        font-size: 0.9rem;
    }
    .main-content a {
        font-size: 0.8rem;
        max-width: 100%;
    }
}