/* Global Style including Desktop View for  ## Screen = max-width 1100px */
/*Global Value*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--bgmenuprofile: #025951; /* green for menubar  */
	--h2bold: #0a3641; /*title color*/
	--bg-lightgreen: #e5e9ea; /* greenlight for background in main-content-1  */
	--bg-white: #fff; /* white background  */
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #fff;
	color: #000;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 1100px;
	max-height: 100%;
	margin: auto;
}

a {
	color: #0a3641;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 100%;
}

/*............Nav-Navigation....................*/
.main-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	padding: 20px 0px;
	font-size: 1.2rem;
}

.main-nav ul {
	display: flex;
}

.main-nav ul li {
	padding: 60px 10px 0 10px;
}

.main-nav ul li a {
	padding-bottom: 2px;
}

.main-nav ul li a:hover {
	border-bottom: 1px solid #0a3641;
}

.main-nav .logo {
	width: 200px;
}

.main-nav ul.main-menu {
	flex: 1;
	margin-left: 20px;
}

.main-nav ul li a:hover {
	/* border-bottom: 1px solid #0a3641; */
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 10px;
	border: #c7ece7;
	cursor: pointer;
	transition: all 0.8s;
}

.main-nav .current {
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 9px;
	border: whitesmoke 1px solid;
}

/* Hamburger Menu */
.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 70px;
	right: 30px;
	z-index: 2;
	display: none;
}

/*............Search menu on Navigation....................*/
form .search-menu {
	max-width: 100%;
}

input[id="site-search"] {
	border-color: #c6ebe6;
	max-height: 100%;
	padding: 5px;
}

.search-menu {
	padding: 0px 10px 60px 10px;
	position: relative;
	top: 60px;
}

.btn-search {
	font-weight: bold;
	font-size: 1.2rem;
	color: #0a3641;
	border: none;
	background-color: #fff;
	padding-left: 2px;
	transition: all 0.5s;
}

.btn-search:hover {
	background-color: #c6ebe6;
	padding: 5px;
	border-radius: 4px;
}

input[id="site-search"]:focus-within {
	border-color: rgb(208, 247, 208);
}

/*............Main-content....................*/

.main-content {
	max-width: 100%;
	min-height: 100%;
	display: grid;
	margin: 0 auto;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	flex-direction: column;
	background-color: var(--bg-lightgreen);
	padding: 100px 100px;
	border: 1px solid #f4f8fa;
	justify-content: space-between;
}

/* additional main content */

.main-content-2 {
	order: 2;
	max-width: 100%;
	max-height: 100%;
	margin: 20px 150px 100px 150px;
}

.main-content-1 img {
	max-width: 200px;
	margin: 150px 0 0 0px;
	border-radius: 4px;
	/* border: 1px solid #909090; */
	box-shadow: var(--shadow);
}

.returnlinks {
	position: relative;
	right: 0px;
	top: 60px;
}

/* ALL FONT Style */

.main-content h1 {
	font-weight: bold;
	color: #000;
	font-size: 1.5rem;
}

.main-content h2 {
	font-weight: bold;
	font-size: 1rem;
	color: #0a3641;
	padding-left: 2px;
}

/* Form style for Filling Adress Information form */

.main-content-2 form {
	font-family: "Georgia", Times New Roman, Times, serif;
}

.form-container {
	max-width: 100%;
	border: 2px solid #fff;
	padding: 50px 70px 120px 70px;
	border-radius: 4px;
}

/* Full-width inputs */
.main-content-1 input[type="text"],
.main-content-2 input[type="text"],
.main-content-2 input[type="password"],
.main-content-2 input[type="email"],
.main-content-2 input[type="address"],
.main-content-2 input[type="city"],
.main-content-2 input[type="postcode"],
.main-content-2 input[type="country"] {
	width: 100%;
	font-size: 1rem;
	padding: 10px 20px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* handling message */
.form-error {
	display: none;
	font-size: 1rem;
	margin: 0px 0 5px 15px;
	color: #dd0606;
}

.message {
	background: rgb(253, 235, 75);
	padding: 0.2em;
	border: #fff solid 3px;
	color: green;
	margin-bottom: 1em;
}

hr {
	border: 1px solid #ccc;
	margin-bottom: 25px;
}

/***hightligt with contact form*/

.main-content-2 label {
	cursor: pointer;
	margin: 0;
}

.main-content-2 label:focus-within {
	color: darkgreen;
}

.main-content-2 input:hover {
	border-color: darkseagreen;
	border-width: 1px;
}

/* Float cancel and signup buttons and add an equal width  */
.cancel-btn,
.signup-btn {
	float: left;
	width: 50%;
}

/* Set a style of Button */
.main-content-2 button {
	font-family: "Georgia", Times New Roman, Times, serif;
	max-width: 200px;
	font-weight: bold;
	font-size: 1rem;
	color: #022420;
	padding: 8px 20px;
	margin: 0px;
	background-color: rgb(97, 212, 145);
	border: #fff 1px solid;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.5s;
}

.main-content-1 button {
	float: left;
}

.main-content-2 button {
	float: right;
}

button:hover {
	color: #fff;
	background-color: #064437e7;
	text-decoration: none;
}

/* Sign-up Button Style */
.main-content-1 .signup-btn {
	padding: 14px 20px;
	background-color: #025951;
	color: #fff;
}

.main-content-1 .signup-btn a {
	padding: 14px 20px;
	color: #fff;
}

.main-content-1 .signup-btn a:hover {
	padding: 14px 20px;
	color: #e1ad01;
}

/* Clear float */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* The forget Password text */
span.psw {
	float: right;
	padding-top: 16px;
}

/*............Bar Menu....................*/

.barmenu {
	background-color: #0a3641;
	color: #fff;
	font-size: 1.2rem;
	padding: 35px 0;
}

.barmenu-inner {
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding-left: 35px;
	align-items: flex-start;
	justify-content: center;
}

.barmenu li {
	line-height: 2rem;
}

.barmenu a {
	color: #fff;
}

.barmenu a:hover {
	color: #e1ad01;
}

.barmenu .current {
	text-decoration: underline;
	color: #e1ad01;
}

/*............Bar Menu....................*/

.barmenu {
	background-color: #0a3641;
	color: #fff;
	font-size: 1.2rem;
	padding: 35px 0;
}

.barmenu-inner {
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding-left: 35px;
	align-items: flex-start;
	justify-content: center;
}

.barmenu li {
	line-height: 2rem;
}

.barmenu a {
	color: #fff;
}

.barmenu a:hover {
	color: #e1ad01;
}

.barmenu .current {
	text-decoration: underline;
	color: #e1ad01;
}

/*............Footer....................*/

.footer {
	background-color: #e5e9ea;
	color: #000;
	font-size: 1.2rem;
	padding: 35px 0 0 0;
}

.footer-inner {
	max-width: 1100px;
	padding: 0 0 10px 35px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	align-items: flex-start;
	justify-content: center;
}

.footer li {
	line-height: 2rem;
}

.footer a {
	color: #025951;
}

.footer-copyright {
	width: 100%;
	background-color: #0a3641;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding-left: 35px;
	align-items: left;
	justify-content: center;
	color: #fff;
}

/*set icon size*/
.fa-color {
	color: #707070;
}

.fa-color-nav {
	color: #0a3641;
}

.fa-color-mid {
	color: #fff;
	padding-right: 5px;
}

/* span on cart items*/
span {
	position: relative;
	bottom: 18px;
	float: right;
	color: #e9802a;
}

/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
	.main-content {
		grid-template-columns: 1fr;
		padding: 50px 20px 150px 20px;
	}
	.main-content-2,
	.main-content-1 {
		margin: 0px;
		padding: 0px;
	}

	.form-container {
		max-width: 100%;
		max-height: auto;
		padding: 20px 30px 90px 30px;
		margin: 0px;
	}
	.main-nav ul.right-menu {
		margin-right: 60px;
	}

	.main-nav ul.main-menu li {
		font-size: 0.9rem;
	}

	.search-menu {
		display: none;
	}

	.main-content-1 input[type="text"],
	.main-content-2 input[type="text"],
	.main-content-2 input[type="password"],
	.main-content-1 input[type="email"],
	.main-content-2 input[type="address"],
	.main-content-2 input[type="city"],
	.main-content-2 input[type="postcode"],
	.main-content-2 input[type="country"] {
		width: 100%;
		font-size: 1rem;
		padding: 5px 10px;
		margin: 20px 0;
		border-radius: 4px;
	}

	.main-content-2 button {
		float: right;
		margin: 30px 0 50px 0;
	}

	.barmenu,
	.main-content a,
	.footer {
		font-size: 1rem;
		padding-top: 25px;
	}
	.barmenu {
		padding: 25px 0;
	}
	.main-content-1 img {
		display: none;
	}
}

/* Media Queries for  ## Screen = max-width 500px*/
@media (max-width: 500px) {
	.menu-btn {
		display: block;
	}

	.menu-btn :hover {
		opacity: 0.5;
	}

	.main-nav ul.right-menu {
		margin-right: 70px;
	}

	.form-container {
		max-height: auto;
		padding: 30px 20px 90px 20px;
	}

	.main-nav .current {
		margin: 0;
		padding: 60px 10px 0 10px;
	}

	.main-nav ul.main-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #e5e9ea;
		width: 50%;
		height: 30%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 10px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
		z-index: 100;
	}

	.main-nav ul.main-menu.show {
		transform: translateX(-20px);
	}

	.main-nav ul.main-menu li {
		padding: 10px;
		border-bottom: #ccc solid 1px;
		font-size: 1rem;
	}

	.main-nav ul.main-menu li:last-child {
		border-bottom: 0;
	}

	.main-content-2,
	.main-content-1 {
		padding: 0px;
	}

	.search-menu {
		display: none;
	}

	.main-content {
		grid-template-columns: 1fr;
		padding-top: 20px;
	}

	.main-content img {
		max-width: 80%;
	}
	.check-out-btn {
		max-width: 30%;
		left: 140px;
		padding: 2px;
		bottom: 40px;
	}

	.barmenu-inner {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer {
		font-size: 0.8rem;
		padding-top: 15px;
	}
}

/* Media Queries for  ## Screen = max-width 375px */

@media (max-width: 375px) {
	.search-menu {
		display: none;
	}
	.main-content-1 h1,
	.main-content-2 h2 {
		font-size: 0.9rem;
	}

	.main-nav .logo {
		width: 180px;
	}

	.main-nav ul.right-menu {
		margin-right: 60px;
	}

	.main-content-1 input[type="text"],
	.main-content-2 input[type="text"],
	.main-content-2 input[type="password"],
	.main-content-2 input[type="email"],
	.main-content-2 input[type="address"],
	.main-content-2 input[type="city"],
	.main-content-2 input[type="postcode"],
	.main-content-2 input[type="country"] {
		width: 100%;
		font-size: 1rem;
		padding: 5px 10px;
		margin: 20px 0;
		border-radius: 4px;
	}
	.main-content-2 button {
		width: 200px;
		float: left;
		margin: 0px 0 10px 0;
	}

	.form-error {
		display: none;
		font-size: 1rem;
		margin: 0px 0 5px 15px;
		color: #dd0606;
	}
}
