/* Global Style including Desktop View for  ## Screen = max-width 1100px */
/*Global Value*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Georgia", Times New Roman, Times, serif;
	background-color: #fff;
	color: #000;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 1100px;
	margin: auto;
}

a {
	color: #0a3641;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 100%;
}

/*............Nav-Navigation....................*/
.main-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	padding: 20px 0px;
	font-size: 1.2rem;
}

.main-nav ul {
	display: flex;
}

.main-nav ul li {
	padding: 60px 10px 0 10px;
}

.main-nav ul li a {
	padding-bottom: 0px;
}

.main-nav ul li a:hover {
	/* border-bottom: 1px solid #0a3641; */
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 10px;
	border: rgb(199, 236, 231);
	cursor: pointer;
	transition: all 0.8s;
}

.main-nav .logo {
	width: 200px;
}

.main-nav ul.main-menu {
	flex: 1;
	margin-left: 20px;
}

.main-nav .current {
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 9px;
	border: whitesmoke 1px solid;
}

/* Hamburger Menu */
.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 70px;
	right: 30px;
	z-index: 2;
	display: none;
}

/* New Arrival Button */
.btn-news {
	cursor: pointer;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 4px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 5px 10px;
	color: #000;
	background-color: #e1ad01;
	text-align: left;
}

.btn-news:hover {
	opacity: 0.9;
	background-color: #000;
	color: #fff;
}
/*............News....................*/
.new-arrival {
	max-width: 100%;
	height: 500px;
	background-image: url("./img/new-arrival-2020-large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	border-bottom: 5px solid #000;
	margin-top: 10px;
}

.new-arrival h2,
.new-arrival p {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 1rem;
	background-color: #c9e7ee;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

/*............Search menu on Navigation....................*/

form .search-menu {
	max-width: 100%;
}

input[id="site-search"] {
	border-color: #c6ebe6;
	max-height: 100%;
	padding: 5px;
}

.search-menu {
	padding: 0px 10px 60px 10px;
	position: relative;
	top: 60px;
}

.btn-search {
	font-weight: bold;
	font-size: 1.2rem;
	color: #0a3641;
	border: none;
	background-color: #fff;
	padding-left: 2px;
	transition: all 0.5s;
}

.btn-search:hover {
	background-color: #c6ebe6;
	padding: 5px;
	border-radius: 4px;
}

input[id="site-search"]:focus-within {
	border-color: rgb(208, 247, 208);
}

/*............Main-content....................*/

.main-content {
	max-width: 100%;
	display: grid;
	margin: 0 auto;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	flex-direction: column;
	background-image: url("./img/index_bg_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 50px 50px 50px;
	border: 1px solid #f4f8fa;
	align-items: baseline;
	justify-content: space-between;
}

.main-content-1,
.main-content-2 {
	margin-left: 20px;
}

.main-content img {
	max-height: 250px;
	margin: 10px 0px;
	border-radius: 4px;
	/* border: 1px solid #909090; */
	box-shadow: var(--shadow);
}

.main-content h1 {
	font-weight: bold;
	color: #0a3641;
	font-size: 1.5rem;
}

.main-content h2 {
	font-weight: normal;
	padding-bottom: 10px;
}

.main-content-2 p {
	font-weight: bold;
}

/* Form style for contact form */

.main-content-2 form {
	max-width: 100%;
	max-height: 1000px;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 10px 30px 100px 0px;
	padding: 50px 50px 100px 50px;
	border: 1px solid #fff;
	border-radius: 10px;
	background-color: rgba(170, 211, 214, 0.39);
}

.main-content-2 label {
	max-width: 100%;
}

.main-content-2 textarea {
	height: 100px;
}

.main-content-2 label,
.main-content-2 input,
.main-content-2 textarea {
	width: 100%;
	display: block;
	font-size: 1.1rem;
	padding: 5px 5px;
	margin: 5px 0px 0px 8px;
	border-radius: 3px;
}

.main-content-2 input[name="text"],
.main-content-2 input[name="subject"],
.main-content-2 input[name="email"] {
	width: 100%;
	margin: 2px 5px;
	padding-left: 5px;
	border: 1px solid #4ba894e7;
}
.main-content-2 textarea {
	border: 1px solid #4ba894e7;
}

.form-error {
	display: none;
	font-size: 1rem;
	padding: 0 0 40px 0;
	margin: 0;
	color: #dd0606;
	box-sizing: border-box;
}

.message {
	background: rgb(253, 235, 75);
	padding: 0.2em;
	border: #fff solid 3px;
	color: green;
	margin-bottom: 1em;
}

.main-content-2 h1 {
	width: 100%;
	padding: 5px 0px;
	margin: 0px 20px;
	font-size: 1.2rem;
}

/***hightligt with contact form*/

.main-content-2 label {
	cursor: pointer;
}

.main-content-2 label:focus-within {
	color: darkgreen;
}

.main-content-2 input:hover,
.main-content-2 textarea:hover {
	border-color: darkseagreen;
	border-width: 1px;
}

/* Set a style of Button */
.main-content-2 button {
	font-family: "Georgia", Times New Roman, Times, serif;
	max-width: 120px;
	font-weight: bold;
	font-size: 1.2rem;
	color: #022420;
	padding: 8px 20px;
	margin: 10px 0 2px 20px;
	background-color: rgb(97, 212, 145);
	border: #fff 1px solid;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.5s;
	float: right;
}

button:hover {
	color: #fff;
	background-color: #064437e7;
	text-decoration: none;
}

.hidden {
	display: none;
}

.thank-you {
	padding: 40px;
	font: size 32px;
	text-align: center;
}

/*............Bar Menu....................*/

.barmenu {
	background-color: #0a3641;
	color: #fff;
	font-size: 1.2rem;
	padding: 35px 0;
}

.barmenu-inner {
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding-left: 35px;
	align-items: flex-start;
	justify-content: center;
}

.barmenu li {
	line-height: 2rem;
}

.barmenu a {
	color: #fff;
}

.barmenu a:hover {
	color: #e1ad01;
}

.barmenu .current {
	text-decoration: underline;
	color: #e1ad01;
}

/* span on cart items*/
span {
	position: relative;
	bottom: 18px;
	float: right;
	color: #e9802a;
}

/*............Footer....................*/

.footer {
	background-color: #e5e9ea;
	color: #000;
	font-size: 1.2rem;
	padding: 35px 0 0 0;
}

.footer-inner {
	max-width: 1100px;
	padding: 0 0 10px 35px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	align-items: flex-start;
	justify-content: center;
}

.footer li {
	line-height: 2rem;
}

.footer a {
	color: #025951;
}

.footer-copyright {
	width: 100%;
	background-color: #0a3641;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding-left: 35px;
	align-items: left;
	justify-content: center;
	color: #fff;
}

/*set icon size*/
.fa-color {
	color: #707070;
}
.fa-color-nav {
	color: #0a3641;
}
.fa-color-mid {
	color: #fff;
	padding-right: 5px;
}

/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
	.main-content {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px 50px;
	}

	.main-content-1,
	.main-content-2 {
		margin: 0 0 0 10px;
	}

	.main-content-1 img {
		max-width: 30%;
		margin-left: 0px;
	}

	.main-nav {
		width: 100%;
		font-size: 0.9rem;
	}
	.main-nav ul.right-menu {
		margin-right: 70px;
	}

	.barmenu,
	.main-content a,
	.footer {
		font-size: 1rem;
		padding-top: 0px;
	}
	.barmenu {
		padding: 25px 0;
	}

	.main-content-2 form {
		max-width: 90%;
		margin: 0px;
		padding: 20px 0 60px 30px;
		font-size: 1rem;
	}

	.main-content-2 label {
		max-width: 80%;
	}

	.main-content-2 textarea {
		max-width: 80%;
		height: 100px;
	}

	.main-content-2 label,
	.main-content-2 input,
	.main-content-2 textarea {
		max-width: 90%;
		font-size: 0.9rem;
	}

	.main-content-2 input[name="text"],
	.main-content-2 input[name="subject"],
	.main-content-2 input[name="email"] {
		max-width: 75%;
	}
	.main-content-2 textarea {
		border: 1px solid #4ba894e7;
	}
	.main-content-2 button {
		max-width: 100px;
		font-size: 1rem;
		margin-bottom: 70px;
		float: left;
	}
	.search-menu {
		display: none;
	}
	.barmenu-inner {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer {
		font-size: 0.8rem;
		padding-top: 15px;
	}
}

/* Media Queries for  ## Screen = max-width 500px*/
@media (max-width: 500px) {
	.main-content {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px 10px;
	}
	.main-content-1,
	.main-content-2 {
		margin: 0 0 0 10px;
	}

	.main-content-2 {
		margin-top: 30px;
	}

	.main-content-2 form {
		max-width: 100%;
		margin: 0px;
		padding: 40px 0 100px 10px;
		font-size: 0.8rem;
	}

	.main-content-2 label {
		max-width: 100%;
	}

	.main-content-2 textarea {
		max-width: 90%;
		height: 80px;
		font-size: 0.9rem;
		margin: 2px 0 20px 0px;
		padding: 2px 5px;
	}

	.main-content-2 label,
	.main-content-2 input {
		max-width: 100%;
		font-size: 0.9rem;
		padding-left: 0;
		margin: 10px 0 20px 10px;
	}

	.main-content-2 input[name="text"],
	.main-content-2 input[name="subject"],
	.main-content-2 input[name="email"] {
		max-width: 85%;
	}
	.main-content-2 textarea {
		border: 1px solid #4ba894e7;
	}

	.form-error {
		display: none;
		font-size: 1rem;
		padding: 0px 0px 30px 20px;
		margin: 0;
		color: #dd0606;
		box-sizing: border-box;
	}

	.message {
		padding: 0.2em;
		margin-bottom: 1em;
	}

	.main-content-2 button {
		max-width: 100px;
		font-size: 1rem;
		padding: 5px 10px;
		margin: 0px 0 0px 20px;
		float: left;
		cursor: pointer;
		transition: all 0.5s;
	}

	button:hover {
		color: #fff;
		background-color: #064437e7;
		text-decoration: none;
	}

	.main-content-2 h1 {
		max-width: 90%;
		margin: 0px 10px 30px 10px;
		margin: 0px 10px;
		font-size: 1.2rem;
	}

	.menu-btn {
		display: block;
	}

	.menu-btn :hover {
		opacity: 0.5;
	}

	.main-nav .current {
		margin: 0;
		padding: 60px 10px 0 10px;
	}

	.main-nav ul.main-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #e5e9ea;
		width: 50%;
		height: 40%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 10px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
		z-index: 100;
	}

	.main-nav ul.main-menu.show {
		transform: translateX(-20px);
	}

	.main-nav ul.main-menu li {
		padding: 10px;
		border-bottom: #ccc solid 1px;
		font-size: 1rem;
	}

	.main-nav ul.main-menu li:last-child {
		border-bottom: 0;
	}

	.search-menu {
		display: none;
	}

	.main-content-1 img {
		display: none;
	}

	.main-content-3 {
		margin-left: 10px;
	}

	.barmenu-inner {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer {
		font-size: 0.8rem;
		padding-top: 15px;
	}
}
