/* Global Style including Desktop View for  ## Screen = max-width 1100px */


/*Global Value*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 1100px;
    margin: auto;
}

a {
    color: #0a3641;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 100%;
}


/*............Main-content....................*/

.main-content {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-gap: 20px;
    flex-direction: column;
    background-image: url(img/signin_bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 50px 50px 50px;
    border: 1px solid #f4f8fa;
    align-items: center;
    align-self: center;
}

.main-content-1 {
    max-width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    background-color: #e5e9ea;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 50px 50px 100px 250px;
    border: 1px solid #fff;
}

.main-content-1 p {
    max-width: 100%;
    color: #000;
    text-align: left;
}

.main-content-1 a {
    color: #025951;
}

.main-content-1 a:hover {
    cursor: pointer;
    color: #000;
}

.main-content-1 h1 {
    font-weight: bold;
    margin-top: 10px;
    color: #0a3641;
    font-size: 1.2rem;
    text-align: center;
}


/* Form style for contact form */

.main-content-1 form {
    font-family: Georgia, "Times New Roman", Times, serif;
}


/* Full-width inputs */

.main-content-1 input[type="text"],
.main-content-1 input[type="password"],
.main-content-1 input[type="email"] {
    width: 100%;
    font-size: 1rem;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
}

.main-content-1 input[type="text"]:focus,
.main-content-1 input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #ccc;
    margin-bottom: 25px;
}


/* Float cancel and signup buttons and add an equal width  */

.cancel-btn,
.signup-btn {
    float: left;
    width: 50%;
}


/* Set a style of Button */

.main-content-1 button {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    background-color: #025951;
    cursor: pointer;
    border-radius: 4px;
}

.main-content-1 button a {
    color: #fff;
}

.main-content-1 button a:hover {
    color: #e1ad01;
    background-color: #025951;
    text-decoration: none;
}


/* Cancel Button Style */

.main-content-1 .cancel-btn {
    padding: 14px 20px;
    background-color: #e6d06f;
    color: #000;
}


/* Add padding  to container  */

.form-container {
    padding: 16px;
}


/* Clear float */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* The forget Password text */

span.psw {
    float: right;
    padding-top: 16px;
}


/*............Bar Menu....................*/

.barmenu {
    background-color: #0a3641;
    color: #fff;
    font-size: 1.2rem;
    padding: 35px 0;
}

.barmenu-inner {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-left: 35px;
    align-items: flex-start;
    justify-content: center;
}

.barmenu li {
    line-height: 2rem;
}

.barmenu a {
    color: #fff;
}

.barmenu a:hover {
    color: #e1ad01;
}

.barmenu .current {
    text-decoration: underline;
    color: #e1ad01;
}


/*............Footer....................*/

.footer {
    background-color: #e5e9ea;
    color: #000;
    font-size: 1.2rem;
    padding: 35px 0 0 0;
}

.footer-inner {
    max-width: 1100px;
    padding: 0 0 10px 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.footer li {
    line-height: 2rem;
}

.footer a {
    color: #025951;
}

.footer-copyright {
    width: 100%;
    background-color: #0a3641;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 35px;
    align-items: left;
    justify-content: center;
    color: #fff;
}

span {
    position: relative;
    bottom: 18px;
    float: right;
    color: #e9802a;
}


/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
    .barmenu,
    .footer {
        font-size: 1rem;
        padding-top: 25px;
    }
    .barmenu {
        padding: 25px 0;
    }
    .main-content-1 {
        margin: 0 50px 0 180px;
        align-self: center;
    }
    .main-content-1 input[type="text"],
    .main-content-1 input[type="password"],
    .main-content-1 input[type="email"] {
        padding: 7px 10px;
    }
    .cancel-btn,
    .signup-btn {
        padding: 7px 10px;
    }
}


/* Media Queries for  ## Screen = max-width 500px */

@media (max-width: 500px) {
    .barmenu-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer {
        font-size: 0.8rem;
    }
    .main-content-1 {
        margin: 0 20px 0 10px;
        max-width: 350px;
    }
}