/* Global Style including Desktop View for  ## Screen = max-width 1100px */

/*Global Value*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: "Georgia", Times New Roman, Times, serif;
	background-color: #fff;
	color: #000;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 1100px;
	margin: auto;
}

a {
	color: #0a3641;
	text-decoration: none;
}

/* .container {
	max-width: 100%;
}  ON test */

/*............Nav-Navigation....................*/
.main-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	padding: 20px 0px;
	font-size: 1.4rem;
}

.main-nav ul {
	display: flex;
}

.main-nav ul li {
	padding: 60px 10px 0 10px;
}

.main-nav ul li a {
	padding-bottom: 2px;
}

.main-nav ul li a:hover {
	border-bottom: 1px solid #0a3641;
}

.main-nav .logo {
	width: 200px;
}

.main-nav ul.main-menu {
	flex: 1;
	margin-left: 20px;
}

.main-nav ul li a:hover {
	/* border-bottom: 1px solid #0a3641; */
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 10px;
	border: rgb(199, 236, 231);
	cursor: pointer;
	transition: all 0.8s;
}

.main-nav .current {
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 9px;
	border: whitesmoke 1px solid;
}

/* Hamburger Menu */
.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 70px;
	right: 30px;
	z-index: 2;
	display: none;
}

/* New Arrival Button */

.new-arrival {
	max-width: 100%;
	height: 500px;
	background: #121212;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 50px;
	margin-top: 10px auto;
}

.new-arrival h4,
.new-arrival h1,
.new-arrival h5,
.new-arrival h2 {
	width: 100%;
	text-align: center;
	color: #fff;
}

.new-arrival h1 {
	font-size: 2rem;
}

.new-arrival h2 {
	font-size: 2rem;
}

.new-arrival h2 a {
	color: rgb(212, 134, 8);
}

/*............Search menu on Navigation....................*/

form .search-menu {
	max-width: 100%;
}

input[id="site-search"] {
	border-color: #c6ebe6;
	max-height: 100%;
	padding: 5px;
}

.search-menu {
	padding: 0px 10px 60px 10px;
	position: relative;
	top: 60px;
}

.btn-search {
	font-weight: bold;
	font-size: 1.2rem;
	color: #0a3641;
	border: none;
	background-color: #fff;
	padding-left: 2px;
	transition: all 0.5s;
}

.btn-search:hover {
	background-color: #c6ebe6;
	padding: 5px;
	border-radius: 4px;
}

input[id="site-search"]:focus-within {
	border-color: rgb(208, 247, 208);
}

/*............Main-content....................*/

.main-content {
	max-width: 100%;
	display: grid;
	margin: 0 auto;
	grid-gap: 20px;
	grid-template-columns: 2fr 2fr;
	background-image: url("./img/rain-day-sunset-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 50px;
	height: 550px;
}

.main-content-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "women men";
	grid-gap: 20px;
	height: 450px;
}

.women {
	grid-area: women;
}

.men {
	grid-area: men;
}

.main-content img {
	max-width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 2px solid #000;
	box-shadow: var(--shadow);
}

.main-content h1 {
	font-weight: bold;
	color: #0a3641;
	font-size: 1.8rem;
}

.main-content-1 h1 {
	font-weight: bold;
	color: #000;
	font-size: 2.5rem;
}

.main-content-1 h2 {
	font-weight: normal;
	padding-bottom: 10px;
}

.main-content-1 p {
	color: #000;
	font-size: 1rem;
	max-width: 100%;
	text-align: left;
}

.main-content a {
	display: inline-block;
	font-size: 1.2rem;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.main-content a:hover {
	cursor: pointer;
	margin-left: 10px;
	text-decoration: none;
}

/* span on cart items*/
span {
	position: relative;
	bottom: 18px;
	float: right;
	color: #e9802a;
}

/* New Arrival Button */
.btn-new {
	cursor: pointer;
	display: inline-block;
	border: 1px solid #909090;
	box-shadow: var(--shadow);
	border-radius: 5px;
	font-family: Georgia, serif;
	font-weight: bold;
	color: #000;
	background-color: #e1ad01;
	text-align: center;
	padding: 5px 10px;
	margin-top: 50px;
	transition: all 0.5s;
	opacity: 0.8;
}

.btn-new:hover {
	background-color: #000;
	color: #fff;
	opacity: 1;
}

/* Button for men, for women */
.btn-text {
	width: 100%;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	transition: all 0.5s;
}

.btn-text:hover {
	cursor: pointer;
	color: #025951;
}

/*............Bar Menu....................*/

.barmenu {
	background-color: #000;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 20px 0;
}

.barmenu-inner {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	justify-content: space-between;
	justify-items: center;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2rem;
}

.barmenu li {
	line-height: 1.5rem;
}

.barmenu a {
	color: #fff;
}

.barmenu a:hover {
	color: #e1ad01;
}

.barmenu .current {
	text-decoration: underline;
	color: #e1ad01;
}

/*............Footer....................*/

.footer {
	width: 100%;
	background-color: #e5e9ea;
	color: #000;
	font-size: 1.2rem;
	margin: 0 auto;
}

.footer-inner {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	justify-content: center;
	justify-items: center;
	margin: 0 auto;
	padding: 30px 10px;
}

.footer li {
	line-height: 2rem;
}

.footer a {
	color: #025951;
}

.footer-copyright {
	width: 100%;
	background-color: #0a3641;
	color: #fff;
	height: 15%;
	margin: 0 auto;
	text-align: center;
}

/*set icon size*/
.fa-color {
	color: #707070;
}
.fa-color-nav {
	color: #0a3641;
}
.fa-color-mid {
	color: #fff;
	padding-right: 5px;
}

.banner-ads-2 {
	max-width: 100%;
	padding: 40px 20px;
}

.banner-ads-2 {
	max-width: 100%;
	background-image: url(./img/new-arrival-2020-large.jpg);
	background-position: top;
	background-repeat: no-repeat;
	height: 300px;
	position: relative;
}

.banner-ads-2 h1,
.banner-ads-2 h2 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 3rem;
	text-align: center;
	position: absolute;
	max-width: 100%;
}

.banner-ads-2 h1 {
	top: 70px;
	left: 150px;
	font-size: 4rem;
}

.banner-ads-2 h1 a {
	color: rgb(15, 14, 14);
}

.banner-ads-2 h2 {
	top: 70px;
	right: 200px;
}

.banner-ads-2 h2 a {
	color: red;
}

.banner-ads-2 .btn-text {
	max-width: 50%;
	position: absolute;
	top: 200px;
	left: 550px;
	text-decoration: underline;
}

.banner-info {
	max-width: 90%;
}

.error {
	border: 1px solid rgb(37, 240, 213);
	padding: 1rem;
	color: rgb(236, 37, 37);
	background: rgba(255, 0, 0, 0.1);
}

@media (max-width: 1024px) {
	.banner-info {
		max-width: 80%;
	}

	.new-arrival {
		height: 450px;
	}

	.banner-ads-2 .btn-text {
		left: 400px;
	}

	.banner-ads-2 h1 {
		left: 70px;
		top: 50px;
	}

	.banner-ads-2 h2 {
		right: 150px;
		top: 70px;
	}

	.main-nav {
		font-size: 0.8rem;
	}
}

/* Media Queries for  ## Screen = max-width 845px */
@media (max-width: 834px) {
	.main-content-2 {
		height: 350px;
	}

	.search-menu {
		display: none;
	}

	.main-nav {
		font-size: 1rem;
	}

	.main-nav ul.right-menu {
		margin-right: 30px;
	}
}

@media (max-width: 768px) {
	.main-content {
		height: 400px;
		padding: 50px 50px;
	}

	.main-nav {
		font-size: 1rem;
	}

	.main-nav ul.right-menu {
		margin-right: 30px;
	}

	.banner-info {
		max-width: 60%;
	}

	.search-menu {
		display: none;
	}

	input[id="site-search"] {
		max-width: 80px;
	}

	.btn-search {
		font-size: 0.8rem;
	}

	.main-content a,
	.footer {
		font-size: 1rem;
	}

	.barmenu a {
		font-size: 1rem;
	}

	.barmenu {
		padding: 25px 0;
	}

	.btn-text {
		font-size: 1.5rem;
		padding: 10px 0 0 0;
	}

	.banner-ads-2 h1 {
		top: 70px;
		left: 90px;
		font-size: 3rem;
	}

	.banner-ads-2 h2 {
		right: 120px;
	}

	.banner-ads-2 .btn-text {
		left: 360spx;
	}
}

/* Media Queries for  ## Screen = max-width 500px*/

@media (max-width: 500px) {
	.main-content {
		padding: 30px 20px;
		grid-template-columns: 1fr;
	}

	.main-content-1 p {
		width: 100%;
		font-size: 0.8rem;
	}

	.main-content-2,
	.new-arrival {
		height: auto;
	}

	.new-arrival h1 {
		font-size: 2rem;
	}

	.new-arrival h2 a {
		font-size: 1rem;
	}

	.main-nav {
		font-size: 0.8rem;
	}

	.main-nav ul.right-menu {
		margin-right: 70px;
	}

	.menu-btn {
		display: block;
	}

	.menu-btn :hover {
		opacity: 0.5;
	}

	.main-nav .current {
		margin: 0;
		padding: 60px 10px 0 10px;
	}

	.main-nav ul.main-menu {
		display: block;
		position: absolute;
		top: 0px;
		left: 0;
		background-color: #e5e9ea;
		width: 50%;
		height: 40%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 10px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
		z-index: 100;
	}

	.main-nav ul.main-menu.show {
		transform: translateX(-20px);
	}

	.main-nav ul.main-menu li {
		padding: 10px;
		border-bottom: #ccc solid 1px;
		font-size: 1rem;
	}

	.main-nav ul.main-menu li:last-child {
		border-bottom: 0;
	}

	.search-menu {
		display: none;
	}

	.barmenu-inner {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 60px;
	}

	.new-arrival h1 {
		font-size: 1.5rem;
	}

	.footer {
		padding: 0;
	}

	.footer-inner {
		font-size: 0.8rem;
		padding: 10px 20px;
	}
}

@media (max-width: 414px) {
	.banner-infor {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.banner-ads-2 h1 {
		display: none;
	}

	.banner-ads-2 h2 {
		top: 30px;
		left: 280px;
		font-size: 1.5rem;
	}

	.banner-ads-2 .btn-text {
		left: 20px;
		top: 30px;
		font-size: 1.5rem;
	}

	.main-content {
		height: 550px;
	}
}

@media (max-width: 375px) {
	.main-nav {
		font-size: 0.8rem;
	}

	.main-nav ul.right-menu {
		margin-right: 70px;
	}

	.search-menu {
		display: none;
	}

	.main-content {
		grid-template-columns: 1fr;
	}

	.banner-ads-2 h1 {
		display: none;
	}

	.banner-ads-2 h2 {
		top: 20px;
		left: 220px;
	}

	.footer-inner {
		font-size: 0.8rem;
		padding: 7px 5px;
	}

	.barmenu-inner {
		padding: 0 10px;
		line-height: 0;
	}
}

@media (max-width: 320px) {
	.main-nav {
		font-size: 0.8rem;
	}

	.main-content {
		padding: 20px 20px;
		height: 450px;
	}

	.banner-ads-2 h2 {
		left: 200px;
	}

	.banner-ads-2 .btn-text {
		top: 10px;
		left: 20px;
		font-size: 1.5rem;
	}

	.main-nav .logo {
		width: 150px;
	}

	.new-arrival {
		padding: 30px 10px;
	}

	.footer-inner {
		font-size: 0.6rem;
		padding: 5px 0px;
	}

	.barmenu-inner {
		font-size: 1rem;
		width: 95%;
		margin: 0 auto;
	}
}
