/* Global Style including Desktop View for  ## Screen = max-width 1100px */

/*Global Value*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #fff;
	color: #000;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 1100px;
	margin: auto;
}

a {
	color: #0a3641;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 100%;
}

/*............Nav-Navigation....................*/
.main-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	padding: 20px 0px;
	font-size: 1.2rem;
}

.main-nav ul {
	display: flex;
}

.main-nav ul li {
	padding: 60px 10px 0 10px;
}

.main-nav ul li a {
	padding-bottom: 2px;
}

.main-nav ul li a:hover {
	border-bottom: 1px solid #0a3641;
}

.main-nav .logo {
	width: 200px;
}

.main-nav ul.main-menu {
	flex: 1;
	margin-left: 20px;
}

.main-nav ul li a:hover {
	/* border-bottom: 1px solid #0a3641; */
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 10px;
	border: rgb(199, 236, 231);
	cursor: pointer;
	transition: all 0.8s;
}

.main-nav .current {
	background-color: rgb(199, 236, 231);
	margin: 55px 0 0 0;
	padding: 5px 10px 0 10px;
	border-radius: 9px;
	border: whitesmoke 1px solid;
}

/* Hamburger Menu */
.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 70px;
	right: 30px;
	z-index: 2;
	display: none;
}

/* New Arrival Button */
.btn-news {
	cursor: pointer;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 5px 10px;
	color: #000;
	background-color: #e1ad01;
	text-align: left;
	transition: all 0.5s ease-in-out;
	opacity: 0.9;
}

.btn-news:hover {
	opacity: 1;
	background-color: #000;
	color: #fff;
}
/*............News....................*/
.new-arrival {
	max-width: 100%;
	height: 500px;
	background-image: url("./img/new-arrival-2020-large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	border-bottom: 5px solid #000;
	margin-top: 10px;
}

.new-arrival h2,
.new-arrival p {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 1rem;
	background-color: #c9e7ee;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

/*............Search menu on Navigation....................*/

form .search-menu {
	max-width: 100%;
}

input[id="site-search"] {
	border-color: #c6ebe6;
	max-height: 100%;
	padding: 5px;
}

.search-menu {
	padding: 0px 10px 60px 10px;
	position: relative;
	top: 60px;
}

.btn-search {
	font-weight: bold;
	font-size: 1.2rem;
	color: #0a3641;
	border: none;
	background-color: #fff;
	padding-left: 2px;
	transition: all 0.5s;
}

.btn-search:hover {
	background-color: #c6ebe6;
	padding: 5px;
	border-radius: 4px;
}

input[id="site-search"]:focus-within {
	border-color: rgb(208, 247, 208);
}

/*............Main-content....................*/

.main-content {
	max-width: 100%;
	display: grid;
	margin: 0 auto;
	grid-gap: 20px;
	grid-template-columns: 3fr 1fr 1fr;
	background-image: url("./img/index_bg_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 50px 50px 50px;
	border: 1px solid #f4f8fa;
}

.main-content-2,
.main-content-3 {
	padding-left: 50px;
}

.main-content img {
	max-width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 2px solid #000;
	box-shadow: var(--shadow);
}

.main-content h1 {
	font-weight: bold;
	color: #0a3641;
	font-size: 1.5rem;
}

.main-content h2 {
	font-weight: normal;
	padding-bottom: 10px;
}

.main-content-1 p {
	color: #000;
	max-width: 100%;
	margin-right: 60px;
	text-align: left;
}

.main-content-2 p,
.main-content-3 p {
	color: #000;
	max-width: 100%;
	text-align: left;
	padding-right: 60px;
}

.main-content a {
	display: inline-block;
	font-size: 1.2rem;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.main-content a:hover {
	cursor: pointer;
	margin-left: 10px;
	text-decoration: none;
}

/* New Arrival Button */
.btn-new {
	cursor: pointer;
	display: inline-block;
	border: 1px solid #909090;
	box-shadow: var(--shadow);
	border-radius: 5px;
	font-family: Georgia, serif;
	font-weight: bold;
	color: #000;
	background-color: #e1ad01;
	text-align: center;
	padding: 5px 10px;
	margin-top: 50px;
	transition: all 0.5s;
	opacity: 0.8;
}

.btn-new:hover {
	background-color: #000;
	color: #fff;
	opacity: 1;
}

/* Button for men, for women */
.btn-text {
	width: 100%;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	transition: all 0.5s;
}

.btn-text:hover {
	cursor: pointer;
	color: #025951;
}

/*............Bar Menu....................*/

.barmenu {
	background-color: #0a3641;
	color: #fff;
	font-size: 1.2rem;
	padding: 35px 0;
}

.barmenu-inner {
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding-left: 35px;
	align-items: flex-start;
	justify-content: center;
}

.barmenu li {
	line-height: 2rem;
}

.barmenu a {
	color: #fff;
}

.barmenu a:hover {
	color: #e1ad01;
}

.barmenu .current {
	text-decoration: underline;
	color: #e1ad01;
}

/*............Footer....................*/

.footer {
	background-color: #e5e9ea;
	color: #000;
	font-size: 1.2rem;
	padding-top: 35px;
}

.footer-inner {
	max-width: 1100px;
	padding: 0 0 10px 35px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	align-items: flex-start;
	justify-content: center;
}

.footer li {
	line-height: 2rem;
}

.footer a {
	color: #025951;
}

.footer-copyright {
	width: 100%;
	background-color: #0a3641;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding-left: 35px;
	justify-content: center;
	color: #fff;
}

/*set icon size*/
.fa-color {
	color: #707070;
}
.fa-color-nav {
	color: #0a3641;
}
.fa-color-mid {
	color: #fff;
	padding-right: 5px;
}

/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
	.main-nav {
		width: 100%;
		font-size: 0.8rem;
	}

	input[id="site-search"] {
		max-width: 80px;
	}

	.btn-search {
		font-size: 0.8rem;
	}

	.main-nav ul.right-menu {
		display: none;
	}

	.barmenu,
	.main-content a,
	.footer {
		font-size: 1rem;
		padding-top: 25px;
	}
	.barmenu {
		padding: 25px 0;
	}
}

/* Media Queries for  ## Screen = max-width 500px*/

@media (max-width: 500px) {
	.menu-btn {
		display: block;
	}

	.menu-btn :hover {
		opacity: 0.5;
	}

	.main-nav ul.right-menu {
		display: none;
	}

	.main-nav .current {
		margin: 0;
		padding: 60px 10px 0 10px;
	}

	.main-nav ul.main-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #e5e9ea;
		width: 50%;
		height: 30%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 10px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
		z-index: 100;
	}

	.main-nav ul.main-menu.show {
		transform: translateX(-20px);
	}

	.main-nav ul.main-menu li {
		padding: 10px;
		border-bottom: #ccc solid 1px;
		font-size: 1rem;
	}

	.main-nav ul.main-menu li:last-child {
		border-bottom: 0;
	}

	.search-menu {
		display: none;
	}

	.main-content {
		grid-template-columns: 1fr;
	}

	.main-content-1 p {
		max-width: 400px;
		margin-right: 10px;
	}

	.barmenu-inner {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer {
		font-size: 0.8rem;
		padding-top: 15px;
	}
}

/* Media Queries for  ## Screen = max-width 375px*/

@media (max-width: 375px) {
	.main-content img {
		max-width: 90%;
	}

	.main-content-1 p {
		max-width: 300px;
		margin-right: 10px;
	}
	.btn-news {
		font-size: 1rem;
	}
	.main-nav ul.right-menu {
		display: none;
	}
}
