.error {
	border: 1px solid #360423;
	padding: 1rem;
	color: #dd0606;
	background: #ee3a3a1a;
}

.loader {
	border: 16px solid #fcc307;
	border-top: 16px solid #095e57;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateY(-50%);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
