/* Global Style including Desktop Vie
## Screen =B/W 1025px to 1280px)*/

/*Global Value*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: #0a3641;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

/*............Nav-Navigation....................*/
.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 20px 0px;
  font-size: 1.2rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 60px 10px 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 1px solid #0a3641;
}

.main-nav .logo {
  width: 200px;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/* Hamburger Menu */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 2;
  display: none;
}

/*............Search menu on Navigation....................*/

.main-nav ul.search-menu {
  padding: 0px 80px 0px 0px;
}

/* Search top menu */
.btn-search {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0a3641;
  border: none;
  background-color: #fff;
  padding-left: 2px;
}

.btn-search a {
  color: #0a3641;
}

.btn-search a:hover {
  color: #000;
}

/* Input text for Seach Menu */
.mid-menu input[type='search'] {
  font-size: 1.2rem;
  text-align: center;
  width: 100px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/*............Main-content New Arrivals....................*/

.new-title {
  display: inline-flex;
  float: right;
  max-width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 30px;
  color: #0a3641;
  z-index: -1;
}

.new-title2 {
  display: inline-flex;
  float: right;
  max-width: 100%;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 4px 4px 0 0;
  margin-top: 40px;
  padding-right: 10px;
  color: #000;
  background-color: #f3f1d7;
  z-index: -1;
}

.new-subtitle {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  border-radius: 5px 5px 0px 0px;
  margin: 30px 0 0 30px;
  padding: 5px;
  background-color: #e1ad01;
  color: #000;
  z-index: 1;
}

.new-subtitle-2 {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: right;
  margin-top: 30px;
  padding: 5px;
  color: #000;
  z-index: 2;
}

.main-content {
  max-width: 100%;
  display: grid;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e5e9ea;
  padding: 70px 50px 50px 50px;
  border-top: 2px solid #e1ad01;
  position: relative;
}

.main-content p {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  max-width: 100%;
}

.main-content-1,
.main-content-2,
.main-content-3,
.main-content-4 {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
}

.main-content img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10%;
  border: 2px solid #909090;
  box-shadow: var(--shadow);
}

/*.....Add to Cart Button..*/
.main-content a {
  display: inline-block;
  background-color: #000;
  max-width: 45%;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 2px 3px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  left: 110px;
}

.main-content a:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

/* New Arrival Button */
.btn-new {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #909090;
  box-shadow: var(--shadow);
  border-radius: 5px;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #000;
  background-color: #e1ad01;
  text-align: center;
  padding: 5px 10px;
  margin-top: 50px;
}

.btn-new:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* Button for men, for women */
.btn-text {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.btn-text:hover {
  cursor: pointer;
  color: #025951;
}

/*............Bar Menu....................*/

.barmenu {
  background-color: #0a3641;
  color: #fff;
  font-size: 1.2rem;
  padding: 35px 0;
}

.barmenu-inner {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left: 35px;
  align-items: flex-start;
  justify-content: center;
}

.barmenu li {
  line-height: 2rem;
}

.barmenu a {
  color: #fff;
}

.barmenu a:hover {
  color: #e1ad01;
}

.barmenu .current {
  text-decoration: underline;
  color: #e1ad01;
}

/*............Footer....................*/

.footer {
  background-color: #e5e9ea;
  color: #000;
  font-size: 1.2rem;
  padding: 35px 0 0 0;
}

.footer-inner {
  max-width: 1100px;
  padding: 0 0 10px 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.footer li {
  line-height: 2rem;
}

.footer a {
  color: #025951;
}

.footer-copyright {
  width: 100%;
  background-color: #0a3641;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-left: 35px;
  align-items: left;
  justify-content: center;
  color: #fff;
}

/*set icon size*/
.fa-color {
  color: #707070;
}
.fa-color-nav {
  color: #0a3641;
}
.fa-color-mid {
  color: #fff;
  padding-right: 5px;
}

/* Media Queries for tablet and Large phone*/

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn :hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 70px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e9ea;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .main-nav ul.main-menu li {
    padding: 0.8px;
    border-bottom: #ccc solid 1px;
    font-size: 1rem;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.search-menu {
    display: none;
  }

  .main-content {
    grid-template-columns: repeat (2, 1fr);
  }

  .main-content a {
    left: 30px;
    font-size: 0.8rem;
    max-width: 80%;
  }

  .main-content p {
    font-size: 1rem;
  }
}

/* ## Device= Most of the smart phones Mobile (Portrait)
## Screen =B/W 320px to 479px)* */

@media (max-width: 500px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .new-title {
    display: none;
  }

  .main-content a {
    left: 10px;
    font-size: 0.8rem;
    max-width: 60%;
  }

  .main-content p {
    font-size: 1rem;
    text-align: left;
    max-width: 90%;
  }

  .main-content img {
    max-width: 90%;
    justify-content: space-between;
  }

  .barmenu-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    font-size: 0.8rem;
  }
}
