/* Global Style including Desktop View for  ## Screen = max-width 1100px */
/*Global Value*/
:root {
  --bgmenuprofile: #025951; /* greenlight for menubar  */
  --bg-lightgreen: #e5e9ea; /* greenlight for background in main-content-1  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 1100px;
  margin: auto;
}

a {
  color: #0a3641;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* set icon size*/
.fa-color {
  color: #707070;
}
.fa-color-nav {
  color: #0a3641;
}
.fa-color-mid {
  color: #fff;
  padding-right: 5px;
}

.container {
  max-width: 100%;
}

/*............Nav-Navigation....................*/
.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 20px 0px;
  font-size: 1.2rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 60px 10px 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 1px solid #0a3641;
}

.main-nav .logo {
  width: 200px;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/* Hamburger Menu */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 2;
  display: none;
}

/*............Search menu on Navigation....................*/

.search-menu {
  padding: 0px 10px 60px 10px;
  position: relative;
  top: 60px;
}

/* Search top menu */
.btn-search {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0a3641;
  border: none;
  background-color: #fff;
  padding-left: 2px;
}

.btn-search a {
  color: #0a3641;
}

.btn-search a:hover {
  color: #000;
}

/*............Main-content-title font....................*/

.new-title {
  display: inline-flex;
  float: right;
  max-width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 30px;
  color: #0a3641;
  z-index: -1;
}
.new-title2 {
  display: inline-flex;
  float: right;
  max-width: 100%;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 4px 4px 0 0;
  margin-top: 40px;
  padding-right: 10px;
  color: #000;
  background-color: #f3f1d7;
  z-index: -1;
}

.new-subtitle {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  border-radius: 5px 5px 0px 0px;
  margin: 30px 0 0 30px;
  padding: 5px;
  background-color: #e1ad01;
  border-bottom: 2px solid #e1ad01;
  color: #000;
  z-index: 1;
}

.new-subtitle-2 {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: right;
  margin-top: 30px;
  padding: 5px;
  color: #000;
  z-index: 2;
}

/*--Main-content2 Set for best seller-*/

.main-content-2,
.main-content-3 {
  grid-gap: 10px;
  max-width: 100%;
  padding: 50px 0;
  justify-items: center;
  justify-content: center;
  background-color: var(--bg-lightgreen);
  border-top: 3px solid #e1ad01;
}

.main-content p {
  font-size: 1rem;
  font-weight: normal;
  text-align: right;
  max-width: 100%;
}

.main-content h4 {
  font-size: 1rem;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: left;
  max-width: 100%;
  color: #000;
}

.main-content-1 img,
.main-content-2 img {
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #000;
}
.main-content-1 img {
  max-width: 100%;
}

.main-content-2 img {
  max-width: 80%;
}

/*.....Add to Cart Button..*/
.main-content a {
  display: inline-block;
  background-color: #000;
  max-width: 100%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 2px 3px;
  border-radius: 4px;
  text-align: center;
}

.main-content-1 a,
.main-content-2 a {
  display: inline-block;
  background-color: #e1ad01;
  max-width: 100%;
  color: #000;
  line-height: 2rem;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.main-content-1 a:hover,
.main-content-2 a:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.main-content-1 a {
  font-size: 1.2rem;
  padding: 5px 5px;
  border: 1px solid #000;
}

.info-text {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  font-size: 1rem;
  flex-direction: column;
}
.caption {
  display: block;
}

/* New Arrival Button */
.btn-new {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #909090;
  box-shadow: var(--shadow);
  border-radius: 5px;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #000;
  background-color: #e1ad01;
  text-align: center;
  padding: 5px 10px;
  margin-top: 50px;
}

.btn-new:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* Button for men, for women */
.btn-text {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.btn-text:hover {
  cursor: pointer;
  color: #025951;
}

/*............Bar Menu....................*/

.barmenu {
  background-color: #0a3641;
  color: #fff;
  font-size: 1.2rem;
  padding: 35px 0;
}

.barmenu-inner {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left: 35px;
  align-items: flex-start;
  justify-content: center;
}

.barmenu li {
  line-height: 2rem;
}

.barmenu a {
  color: #fff;
}

.barmenu a:hover {
  color: #e1ad01;
}

.barmenu .current {
  text-decoration: underline;
  color: #e1ad01;
}

/*............Footer....................*/

.footer {
  background-color: #e5e9ea;
  color: #000;
  font-size: 1.2rem;
  padding: 35px 0 0 0;
}

.footer-inner {
  max-width: 1100px;
  padding: 0 0 10px 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.footer li {
  line-height: 2rem;
}

.footer a {
  color: #025951;
}

.footer-copyright {
  max-width: 100%;
  background-color: #0a3641;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-left: 35px;
  align-items: left;
  justify-content: center;
  color: #fff;
}

/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
  .barmenu,
  .footer {
    font-size: 1rem;
    padding-top: 25px;
  }
  .barmenu {
    padding: 25px 0;
  }

  .main-content-1 {
    max-width: 100%;
    max-height: 800px;
  }

  .pro-photo {
    min-width: 400px;
    margin: 40px 10px;
  }
  .pro-photo img {
    max-width: 80%;
  }
  .pro-typec {
    position: relative;
    bottom: 180px;
  }

  .pro-typec-list {
    max-width: 100px;
  }
  .pro-typec img {
    max-width: 80%;
    max-height: 80%;
  }
  .checkmark {
    height: 25px;
    width: 25px;
  }
  .chk-container {
    font-size: 0.8rem;
  }
  .pro-info {
    max-width: 700px;
    position: absolute;
    left: 20px;
    top: 850px;
    border: 1px solid #fff;
  }
  .main-content-2 a {
    font-size: 1rem;
    padding: 0px 5px;
  }
}

/* Media Queries for  ## Screen = max-width 500px */

@media (max-width: 500px) {
  .menu-btn {
    display: block;
  }

  .menu-btn :hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 70px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e9ea;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .main-nav ul.main-menu li {
    padding: 8px;
    border-bottom: #ccc solid 1px;
    font-size: 1rem;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .search-menu {
    display: none;
  }

  .barmenu-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    font-size: 0.8rem;
  }
  /* addition changing */

  .main-content-1,
  .main-content-2 {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .pro-photo {
    order: 1;
    max-width: 80%;
    display: grid;
    grid-gap: 10px;
  }
  .photo-section {
    max-width: 400px;
    padding: 0px 10px;
  }
  .pro-typec {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 50px;
    left: 70px;
    max-width: 350px;
  }

  .pro-spec1 {
    max-width: 400px;
    order: 3;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
    bottom: 50px;
    justify-items: center;
  }

  .pro-spec2 {
    max-width: 80%;
    order: 4;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .main-content h4 {
    max-width: 5%;
  }

  .pro-info {
    order: 6;
    max-width: 450px;
    position: relative;
    top: 10px;
    padding: 5px 5px;
    margin: 0 20px;
  }
  .main-content-1 a {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
    position: absolute;
    left: 150px;
    top: 250px;
  }

  .best-sell {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    max-height: 400px;
  }
  .best-list img {
    max-width: 70%;
  }

  .main-content-1 a {
    font-size: 1em;
    padding: 5px 10px;
  }
  .main-content-2 a {
    font-size: 0.8em;
    padding: 0px 5px;
  }
}
