* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 1100px;
    margin: auto;
}

a {
    color: #0a3641;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 100%;
}


/*............Main-content....................*/

.main-content {
    max-width: 100%;
    max-height: 800px;
    display: grid;
    grid-gap: 20px;
    flex-direction: column;
    background-image: url(img/signin_bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 50px 50px 50px;
    border: 1px solid #f4f8fa;
    align-items: center;
}

.main-content-1 {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    background-color: #e5e9ea;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 20px 50px 20px 250px;
    border: 1px solid #fff;
}

.main-content h1 {
    font-weight: bold;
    margin-top: 10px;
    color: #0a3641;
    font-size: 1.2rem;
    text-align: center;
}

.main-content p {
    text-align: center;
}


/* Form style for contact form */

.main-content-1 form {
    font-family: Georgia, "Times New Roman", Times, serif;
}


/* Form*/

input[type="submit"] {
    max-width: 100%;
    background-color: #e1ad01;
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    font-size: 1rem;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0;
}


/* Set a style of Button */

.main-content-1 button {
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    color: #fff;
    background-color: #025951;
    cursor: pointer;
    border-radius: 4px;
}

.main-content-1 button a {
    cursor: pointer;
    color: #fff;
    background-color: #025951;
}

.main-content-1 button a:hover {
    color: #e1ad01;
    text-decoration: none;
}


/* Cancel Button Style */

.main-content-1 .cancel-btn {
    font-family: "Georgia", Times New Roman, Times, serif;
    width: auto;
    padding: 10px 18px;
    color: #000;
    background-color: #e6d06f;
}


/* Add padding  to container  */

.form-container {
    padding: 16px;
}


/* The forget Password text */

span.psw {
    float: right;
    padding-top: 16px;
}


/*............Bar Menu....................*/

.barmenu {
    background-color: #0a3641;
    color: #fff;
    font-size: 1.2rem;
    padding: 35px 0;
}

.barmenu-inner {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-left: 35px;
    align-items: flex-start;
    justify-content: center;
}

.barmenu li {
    line-height: 2rem;
}

.barmenu a {
    color: #fff;
}

.barmenu a:hover {
    color: #e1ad01;
}

.barmenu .current {
    text-decoration: underline;
    color: #e1ad01;
}


/*............Footer....................*/

.footer {
    background-color: #e5e9ea;
    color: #000;
    font-size: 1.2rem;
    padding: 35px 0 0 0;
}

.footer-inner {
    max-width: 1100px;
    padding: 0 0 10px 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.footer li {
    line-height: 2rem;
}

.footer a {
    color: #025951;
}

.footer-copyright {
    width: 100%;
    background-color: #0a3641;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 35px;
    align-items: left;
    justify-content: center;
    color: #fff;
}


/*set icon size*/

.fa-color {
    color: #707070;
}

.fa-color-nav {
    color: #0a3641;
}

.fa-color-mid {
    color: #fff;
    padding-right: 5px;
}


/* span on cart items*/

span {
    position: relative;
    bottom: 18px;
    float: right;
    color: #e9802a;
}


/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
    .barmenu,
    .footer {
        font-size: 1rem;
        padding-top: 25px;
    }
    .barmenu {
        padding: 25px 0;
    }
    .main-content-1 {
        margin: 0 50px 0 180px;
        align-self: center;
    }
}


/* Media Queries for  ## Screen = max-width 500px */

@media (max-width: 500px) {
    .barmenu-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer {
        font-size: 0.8rem;
    }
    .main-content-1 {
        margin: 0 20px 0 10px;
        max-width: 350px;
    }
}


/* Media Queries for  ## Screen = max-width 375px */

@media (max-width: 375px) {
    .main-content {
        padding: 50px 25px;
    }
}