
/* CSS Variable*/
:root {
    --shadow:0 1px 5px rgba(104,104,104,0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #025951;
    line-height: 2.5rem;
}

h2 {
    font-weight: normal;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;    
}

.img {
    border-radius: 5px;
    border: #808080 solid 2px;
}

a {
    color: #0a3641;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    max-width: 1920px;
    margin: auto;
}


/* Input text for Seach Menu */
input[type=text], select, textarea {
    font-size: 16px;
    line-height: 2rem;
    text-align: center;
    width: 300px;
    border: 1px solid #808080;
    border-radius: 4px;
}

/* New Arrival Button */
.btn-new {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #909090;
    box-shadow:var(--shadow);
    border-radius: 5px;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 1.8rem;
    width: 350px;
    padding: 10px;
    color: #000;
    background-color: #e1ad01;
    text-align: center;
    margin-top: 50px;
}

.btn-new:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

/* Button for men, for women */
.btn-text {
    margin:0;
    padding:0;
    width: 100%;
    margin: 5px 10px 10px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    text-align: center;

}

.btn-text:hover {
    cursor: pointer;
    color: #025951;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    font-size: 18px;
    border-bottom: #d2d8d5 2px solid;
    margin-bottom: 20px;
}

.main-nav .logo {
    width: 212px;
    height: 114px;
}

.main-nav ul {
    display: flex;
    padding: 100px 0px 20px;

}

.main-nav ul li {
    padding: 0px 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

/* Main-Container */
.main-container {
    display: grid;
    grid-template-areas: 1fr, 2fr
    'heading heading'


    
    justify-content: center;
    align-content: center;
}

/*flexbox items*/
.main-box {
    display: flex;
    max-width: 100%;
    max-height:634px;
    background-color: #ebf7fa;
    justify-content: space-around;
    padding:100px 50px;
}

.main-box a {
    display: inline-block;
    padding-top: 10px;
    color: #000;
    font-weight: bold;
}

.main-box-1 {
    flex:1;
    order:1;
    flex-grow: 3;
    max-width: 40%;
    padding: 0px 20px;
}

.main-box-2 {
    flex:1;
    order:2;
    flex-grow: 2;
    max-width: 60%;
    padding: 0px 20px;
}

.main-box-1 .img {
    border-radius: 5px;
    border: 2px solid #080808;
}

.main-box-1 h1 {
   padding-bottom: 15px;

}

.main-box-1 p {
    padding-bottom: 15px;
 
 }

/*feature*/

.mid-container {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #0a3641;
    margin: 0;
    padding: 0px 50px;
    align-items: center;
    justify-items: center;
}
   
.mid-box {
    display: flex;
    width: 100%;
    justify-content:space-between;
    justify-items: center;
    margin: 0px;
  
}

.mid-box h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
}

.mid-box a {
    color: #fff;
}

.mid-box-1 {
    flex:1;
    order:1;
    padding-left: 80px
}

.mid-box-2 {
    flex:1;
    order:2;  
    padding: 0px 120px;
}

.mid-box-3 {
    flex:1;
    order:3;
    padding: 0px 120px;
}

.mid-box-4 {
    flex:1;
    order:4; 
    margin-right: 20px;
}

/*footer*/

/*feature*/

.foot-container {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    background-color: #e5e9ea;
    margin: 0;
    padding: 0px 50px;
    align-items: center;
    justify-items: center;
}

/* copy right*/
.foot-container-copyright {
    display: flex;
    width: 100%;
    height:30px;
    background-color: #e5e9ea;
    justify-items: center;
    margin: 0px;
    padding: 0px 130px;
    border-top: 1px solid #909090;
  
}
   
.foot-box {
    display: flex;
    width: 100%;
    justify-content:space-between;
    justify-items: center;
    margin: 0px;
  
}

.foot-box h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
}

.foot-box p {
    font-size: 1rem;
    line-height: 1.2rem;
    color:#0a3641;
}

.foot-box a {
    color: #fff;
}

.foot-box-1 {
    flex:1;
    order:1;
    padding-left: 80px
}

.foot-box-2 {
    flex:1;
    order:2;  
    padding: 0px 120px;
}

.foot-box-3 {
    flex:1;
    order:3;
    padding: 0px 120px;
}

.foot-box-4 {
    flex:1;
    order:4; 
    margin-right: 20px;
}






