
@import url("style-signin.css"); /* Using a url */

body {
    col
}

/*Form-Signin-layout*/
.main-box  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
    background-image: url(img/signin_bg_img.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 100px;
  }
  
  .main-box-1 {
    flex:1;
    order:1;
    max-width: 40%;
    max-height: 40px;
    text-align: center;
    display: block;
    padding: 0px 50px;
    margin:100px 0px 100px 400px;
  }
  

.main-box-form {
    flex: 1;
    order:2;
    max-width: 40%;
    max-height: 400px;
    text-align: center;
    display: block;
    background-color: #e5e9ea;
    justify-items: center;
    border: 2px solid #fff;
    padding: 20px;
    display: block;
    margin-left: 450px;
}

.main-box-form label::after {
    content: "";
    display: block;
}

h2, p {
    color: black;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;

}

a {
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
}

a:hover{
    color:#025951;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
}



/*BUTTON */
.main-box-form button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: block;
    border: 1px solid #909090;
    border-radius: 5px;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    background-color: #025951;
    text-align: center;
    justify-items: center;
    margin: 50px 0px 5px 0px;
 

  }

  .main-box-form-text-l {
      flex: 1;
      order:1;
      display: inline;
      text-align: left;
      padding-right: 250px;
      color: #025951;
  }

  .main-box-form-text-r {
    flex: 1;
    order:2;
    display: inline;
    text-align: right;
    color: #025951;
}

.main-box-form-text-l a {
    color: #000;
    opacity: 0.8;
}  
  .main-box-form button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
  }

.main-box-form input[type='text'], .main-box-form input[type='password'],
.main-box-form select, .main-box-form textarea {
  font-size: 18px;
  line-height: 2rem;
  text-align: left;
  width: 100%;
  border: 1px solid #909090;
  border-radius: 4px;
}