/* CSS Variable*/
:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
}

h1,
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #000000;
  line-height: 2rem;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: normal;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000;
}

.img-index {
  border-radius: 5px;
  border: #808080 solid 2px;
  max-width: 350px;
}

a {
  color: #0a3641;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 95%;
  max-width: 1920px;
  margin: auto;
}

/* Search top menu */
.btn-search {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 2rem;
  color: #0a3641;
  border: none;
  background-color: #fff;
  padding-left: 5px;
}
.btn-search a {
  color: #0a3641;
}

.btn-search a:hover {
  color: #000;
}

/* Input text for Seach Menu */
input[type='text'],
select,
textarea {
  font-size: 16px;
  line-height: 2rem;
  text-align: center;
  width: 300px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* New Arrival Button */
.btn-new {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #909090;
  box-shadow: var(--shadow);
  border-radius: 5px;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.8rem;
  width: 350px;
  padding: 10px;
  color: #000;
  background-color: #e1ad01;
  text-align: center;
  margin-top: 50px;
}

.btn-new:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* Button for men, for women */
.btn-text {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 5px 10px 10px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.btn-text:hover {
  cursor: pointer;
  color: #025951;
}
/*set icon size*/
.fa-color {
  color: #707070;
}
.fa-color-nav {
  color: #0a3641;
}
.fa-color-mid {
  color: #fff;
  padding-right: 5px;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  font-size: 18px;
  border-bottom: #d2d8d5 2px solid;
  margin-bottom: 20px;
}

.main-nav .logo {
  width: 212px;
  height: 114px;
}

.main-menu {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}
.main-nav ul {
  display: flex;
  padding: 100px 0px 20px;
}

.main-nav ul li {
  padding: 0px 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  color: #000;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

/* Main-Container */
.main-container {
  display: flex;
  background-image: url('./img/signin_bg_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 634px;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 50px;
}

/*flexbox items*/
.main-box {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  padding: 100px;
}
.main-box-1 {
  flex: 1;
  order: 1;
  max-width: 50%;
  text-align: left;
  display: block;
}

/*feature*/

.mid-container {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #0a3641;
  margin: 0;
  padding: 50px 90px;
  align-items: center;
  justify-items: center;
}

.mid-box {
  display: flex;
  width: 100%;
  justify-items: center;
  margin: 0px;
}

.mid-box h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
  text-align: left;
}

.mid-box a {
  color: #fff;
}

.mid-box a:hover {
  cursor: pointer;
  color: #e1ad01;
  text-decoration: none;
}

.mid-box a:hover {
  cursor: pointer;
  color: #e1ad01;
}

.mid-box h4.active {
  text-decoration: underline;
}

.mid-box-1 {
  flex: 1;
  order: 1;
  display: block;
}

.mid-box-2 {
  flex: 1;
  order: 2;
}

.mid-box-3 {
  flex: 1;
  order: 3;
}

.mid-box-4 {
  flex: 1;
  order: 4;
  display: block;
}

/*footer*/

.foot-container {
  display: flex;
  flex-direction: row;
  height: 130px;
  width: 100%;
  background-color: #e5e9ea;
  margin: 0;
  padding: 50px 90px;
  align-items: center;
  justify-items: center;
}

/* copy right*/
.foot-container-copyright {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #e5e9ea;
  justify-items: center;
  margin: 0px;
  padding-left: 90px;
  border-top: 1px solid #909090;
}

.foot-box {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  width: 100%;
}

.foot-box h5 {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000;
  text-align: left;
  width: 100%;
  padding-bottom: 1px;
}

.foot-box p {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #0a3641;
  text-align: left;
}

.foot-box a {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #0a3641;
  padding: 2px 5px;
  display: block;
}

.foot-box-1 {
  flex: 1;
  order: 1;
  width: 25%;
}

.foot-box-2 {
  flex: 1;
  order: 2;
  width: 25%;
}

.foot-box-3 {
  flex: 1;
  order: 3;
  width: 25%;
}

.foot-box-4 {
  flex: 1;
  order: 4;
  width: 25%;
}
