/* Global Style including Desktop View for  ## Screen = max-width 1100px */


/*Global Value*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 1100px;
    margin: auto;
}

a {
    color: #0a3641;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 100%;
}


/*............Main-content....................*/

.main-content {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-gap: 20px;
    flex-direction: column;
    background-color: #e5e9ea;
    padding: 100px 50px 50px 50px;
    border: 1px solid #f4f8fa;
    align-items: center;
    align-self: center;
}

.main-content-1 {
    max-width: 100%;
    min-height: 200px;
    /* display: flex;
  flex-direction: column; */
    background-color: #c7d0d3;
    grid-template-columns: 1fr;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 0px 50px;
}

.main-content-2 {
    background-color: #c7d0d3;
    margin: 0px 50px;
    padding: 20px 20px;
}

.main-content-1 img {
    max-width: 100%;
}

.main-content-1 p {
    max-width: 100%;
    color: #000;
    text-align: left;
}

.main-content-1 h2,
.main-content-2 h3 {
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 0;
    text-align: left;
}

.main-content h1 {
    color: #000;
    font-size: 1.5rem;
    margin-left: 50px;
    text-align: left;
}

.main-content-1 h2 {
    color: #000;
    font-size: 1.2rem;
}

.main-content-2 h3 {
    color: #0a3641;
    font-size: 1rem;
}


/*............Bar Menu....................*/

.barmenu {
    background-color: #0a3641;
    color: #fff;
    font-size: 1.2rem;
    padding: 35px 0;
}

.barmenu-inner {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-left: 35px;
    align-items: flex-start;
    justify-content: center;
}

.barmenu li {
    line-height: 2rem;
}

.barmenu a {
    color: #fff;
}

.barmenu a:hover {
    color: #e1ad01;
}

.barmenu .current {
    text-decoration: underline;
    color: #e1ad01;
}


/*............Footer....................*/

.footer {
    background-color: #e5e9ea;
    color: #000;
    font-size: 1.2rem;
    padding: 35px 0 0 0;
}

.footer-inner {
    max-width: 1100px;
    padding: 0 0 10px 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.footer li {
    line-height: 2rem;
}

.footer a {
    color: #025951;
}

.footer-copyright {
    width: 100%;
    background-color: #0a3641;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 35px;
    align-items: left;
    justify-content: center;
    color: #fff;
}


/* Media Queries for  ## Screen = max-width 845px */

@media (max-width: 845px) {
    .barmenu,
    .footer {
        font-size: 1rem;
        padding-top: 25px;
    }
    .barmenu {
        padding: 25px 0;
    }
}


/* Media Queries for  ## Screen = max-width 500px */

@media (max-width: 500px) {
    .barmenu-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer {
        font-size: 0.8rem;
    }
    .main-content-1,
    .main-content-2 {
        margin: 0px;
    }
}